header{
  text-align: center;
}


h1,h2 {
  padding-left: 10px;
  background-color: grey;
  color: rgb(0,86,119,1);
}

h1 {
  font-size: 35px;
}

section > img {
  text-align: center;
}

footer{
  background-color: rgb(0,86,119,1);
  font-weight: 700;
  text-align: center;
}

footer > span  {
  margin-right: 10px;
  color: white;
}

footer > a {
  margin-right: 10px;
}

